In [1]:
from icalendar import Calendar, Event
from datetime import datetime
from pytz import UTC # timezone
import pandas as pd
from openpyxl import load_workbook
import recurring_ical_events
datetime.today().strftime('%Y-%m-%d')
import random
from datetime import date
import datetime
import win32com.client
import win32com.client as win32
import datetime
import os
SettingWithCopyWarning = None
TODAY = date.today().strftime('%Y-%m-%d')
TEMPLATE_PATH = f'C:/Users/mariusarlauskas/Desktop/Github/tutor-invoice-generator/sablonas.xlsx'
TEMPORARY_PATH =  f'C:/Users/mariusarlauskas/Desktop/Github/tutor-invoice-generator/temporary.xlsx'

In [2]:
with open('calendar.ics','rb') as g:
    gcal = Calendar.from_ical(g.read())

In [3]:
events = [dict(event) for event in recurring_ical_events.of(gcal).all()]

In [4]:
df = pd.DataFrame(events)

In [5]:
def to_date(x):
    return x.dt.strftime('%Y-%m-%d-%H:%M')

In [6]:
df['DTSTART'] = df['DTSTART'].apply(to_date)
df['DTEND'] = df['DTEND'].apply(to_date)

In [7]:
def get_last_month():
    today = datetime.date.today()
    first = today.replace(day=1)
    last_month = first - datetime.timedelta(days=1)
    return last_month.strftime("%Y/%m")

In [8]:
last = int(get_last_month().split('/')[1]) +1

In [9]:
df = df[(df['DTSTART'] >= f'2022-{last}-01') & (df['DTSTART'] < f'2022-{last+1}-01')]

In [10]:
df = df[['SUMMARY', 'DESCRIPTION', 'DTSTART', 'DTEND']]

In [11]:
df['DTEND'] = pd.to_datetime(df['DTEND'])
df['DTSTART'] = pd.to_datetime(df['DTSTART'])

In [12]:
df['DURATION'] = (df['DTEND'] - df['DTSTART']).apply(pd.Timedelta.total_seconds)/3600

In [13]:
df = df[df['SUMMARY'].apply(lambda x: '(p)' in x)]

In [14]:
def prep_invoice(client_name, client_email, amount, rate):
    #load excel file
    workbook = load_workbook(filename=TEMPLATE_PATH)
    #open workbook
    sheet = workbook.active
 
    #modify the desired cell
    sheet['D3'] = f'Serija {date.today().strftime("%Y")} Nr. {random.randint(1000,10000)}'
    sheet["E6"] = date.today().strftime('%Y-%m-%d')
    sheet["B21"] = client_name
    sheet["B22"] = client_email
    sheet["B29"] = f'Korepetitoriaus paslaugos ({round(amount, 2)} val.)'
    sheet["D29"] = get_last_month()
    sheet['F29'] = round(amount * rate, 2)
    sheet['F31'] = round(amount * rate, 2)
    sheet['D42'] = client_name

    
    try:
        os.remove(TEMPORARY_PATH)
    except OSError:
        pass
    #save the file
    workbook.save(filename=TEMPORARY_PATH)
    workbook.close()

In [15]:
def print_pdf(pdf_name):
    o = win32com.client.Dispatch("Excel.Application")
    o.Visible = False
    wb = o.Workbooks.Open(TEMPORARY_PATH)
    ws_index_list = [1] #say you want to print these sheets
    path_to_pdf = f'C:/Users/mariusarlauskas/Desktop/Github/tutor-invoice-generator/invoices/{pdf_name}.pdf'
    wb.WorkSheets(ws_index_list).Select()
    wb.ActiveSheet.ExportAsFixedFormat(0, path_to_pdf)
    wb.Close()
    return path_to_pdf

In [16]:
def send_invoice(client_email, path_to_pdf):
    olApp = win32.Dispatch('Outlook.Application')
    olNS = olApp.GetNameSpace('MAPI')
    # construct email item object
    mailItem = olApp.CreateItem(0)
    mailItem.Subject = 'Sąskaita už korepetitoriaus paslaugas'
    mailItem.BodyFormat = 1
    mailItem.Body = f'''
    Sveiki,

    Prisegu sąskaitą faktūrą už praeitą mėnėsį 
    teiktas korepetitoriaus paslaugas.

    Pagarbiai,
     Marius Arlauskas

    ** Dėmėsio ši sąskaita ir laiškas
        buvo sugeneruoti automatiškai,
        patikrinkite ar nėra neatitikčių.
        Kilus problemai rašykite marius.arlauskas01@gmail.com
    '''
    mailItem.To = client_email
    mailItem.Sensitivity  = 2
    mailItem.Attachments.Add(Source=path_to_pdf)
    mailItem._oleobj_.Invoke(*(64209, 0, 8, 0, olNS.Accounts.Item('marius.arlauskas01.spam@gmail.com')))
    mailItem.Display()
    mailItem.Save()
    mailItem.Send()

In [17]:
def handle_invoice(client_name, client_email, amount, charge):
    prep_invoice(client_name, client_email, amount, charge)
    path_to_pdf = print_pdf(f'{client_email}_{TODAY}')
    send_invoice(client_email, path_to_pdf)

In [18]:
df.groupby('SUMMARY').sum()

                     DURATION
SUMMARY
Akvilė 11kl. (p)          3.0
Dominykas 10kl. (p)       3.0
Gabija 12kl. (p)          4.0
Gabrielius 9kl. (p)       4.0
Lukas 8kl. (p)            4.0
Rusnė 9kl. (p)            6.0
Vakaris 7kl. (p)          8.0

In [3]:
with open('clients.obj', 'rb') as fp:
    clients = pickle.load(fp)

{'Gabrielius 9kl. (p)': {'client_name': 'Gabrielius Pūkys',
  'client_email': 'svietlanele@gmail.com',
  'charge': 20},
 'Dominykas 10kl. (p)': {'client_name': 'Dominykas Borsak',
  'client_email': 'borsak.jurate@gmail.com',
  'charge': 17},
 'Rusnė 9kl. (p)': {'client_name': 'Rusnė Kupliauskaitė',
  'client_email': 'r.kupliauskas@gmail.com',
  'charge': 20},
 'Akvilė 11kl. (p)': {'client_name': 'Akvilė Pažemeckaitė',
  'client_email': 'meljolaa@gmail.com',
  'charge': 17},
 'Gabija 12kl. (p)': {'client_name': 'Gabija Rutkauskaitė',
  'client_email': 'gabyte2004@gmail.com',
  'charge': 20},
 'Vakaris 7kl. (p)': {'client_name': 'Tomas Nemura',
  'client_email': 'tnemura@gmail.com',
  'charge': 24},
 'Lukas 8kl. (p)': {'client_name': 'Lukas',
  'client_email': 'coliukeb@gmail.com',
  'charge': 17}}

In [20]:
amounts = df.groupby('SUMMARY').sum().to_dict()['DURATION']

In [21]:
viso = 0
for key in clients:
    viso+= clients[key]['charge']*amounts[key]
print(f'Total for the last month:\n{round(viso,2)} eur')

Total for the last month:
642.0 eur

In [22]:
df

,SUMMARY,DESCRIPTION,DTSTART,DTEND,DURATION
11834,Dominykas 10kl. (p),,2022-11-10 15:35:00,2022-11-10 16:35:00,1.0
11835,Dominykas 10kl. (p),,2022-11-17 15:35:00,2022-11-17 16:35:00,1.0
11836,Dominykas 10kl. (p),,2022-11-24 15:35:00,2022-11-24 16:35:00,1.0
12626,Vakaris 7kl. (p),,2022-11-03 18:50:00,2022-11-03 19:50:00,1.0
12627,Vakaris 7kl. (p),,2022-11-10 18:50:00,2022-11-10 19:50:00,1.0
12628,Vakaris 7kl. (p),,2022-11-17 18:50:00,2022-11-17 19:50:00,1.0
12629,Vakaris 7kl. (p),,2022-11-24 18:50:00,2022-11-24 19:50:00,1.0
13419,Akvilė 11kl. (p),,2022-11-10 19:55:00,2022-11-10 20:55:00,1.0
13420,Akvilė 11kl. (p),,2022-11-17 19:55:00,2022-11-17 20:55:00,1.0
13421,Akvilė 11kl. (p),,2022-11-24 19:55:00,2022-11-24 20:55:00,1.0
14210,Vakaris 7kl. (p),,2022-11-05 10:45:00,2022-11-05 11:45:00,1.0
14211,Vakaris 7kl. (p),,2022-11-12 10:45:00,2022-11-12 11:45:00,1.0
14212,Vakaris 7kl. (p),,2022-11-19 10:45:00,2022-11-19 11:45:00,1.0
14213,Vakaris 7kl. (p),,2022-11-26 10:45:00,2022-11-26 11:45:00,1.0
15001,Lukas 8kl. (p),,2022-11-06 11:00:00,2022-11-06 12:00:00,1.0
15002,Lukas 8kl. (p),,2022-11-13 11:00:00,2022-11-13 12:00:00,1.0
15003,Lukas 8kl. (p),,2022-11-20 11:00:00,2022-11-20 12:00:00,1.0
15004,Lukas 8kl. (p),,2022-11-27 11:00:00,2022-11-27 12:00:00,1.0
15792,Rusnė 9kl. (p),,2022-11-06 12:10:00,2022-11-06 13:40:00,1.5
15793,Rusnė 9kl. (p),,2022-11-13 12:10:00,2022-11-13 13:40:00,1.5
15794,Rusnė 9kl. (p),,2022-11-20 12:10:00,2022-11-20 13:40:00,1.5
15795,Rusnė 9kl. (p),,2022-11-27 12:10:00,2022-11-27 13:40:00,1.5
16584,Gabija 12kl. (p),"<a href=""https://www.facebook.com/profile.php?...",2022-11-10 16:40:00,2022-11-10 17:40:00,1.0
16585,Gabija 12kl. (p),"<a href=""https://www.facebook.com/profile.php?...",2022-11-17 16:40:00,2022-11-17 17:40:00,1.0
16586,Gabija 12kl. (p),"<a href=""https://www.facebook.com/profile.php?...",2022-11-24 16:40:00,2022-11-24 17:40:00,1.0
17375,Gabrielius 9kl. (p),,2022-11-03 17:45:00,2022-11-03 18:45:00,1.0
17376,Gabrielius 9kl. (p),,2022-11-10 17:45:00,2022-11-10 18:45:00,1.0
17377,Gabrielius 9kl. (p),,2022-11-24 17:45:00,2022-11-24 18:45:00,1.0
32398,Gabija 12kl. (p),"<a href=""https://www.facebook.com/profile.php?...",2022-11-03 16:40:00,2022-11-03 17:40:00,1.0
32399,Gabrielius 9kl. (p),NaN,2022-11-17 17:45:00,2022-11-17 18:45:00,1.0

In [23]:
#for key in clients:
    #handle_invoice(clients[key]['client_name'], clients[key]['client_email'], amounts[key], clients[key]['charge'])